[main]
donated=true
debug=true
initial_depth_display_height=20

[mtgox]
account_name=<your mtgox user>
account_pass=<your mtgox pass>
debug=true
use_websockets=true
debug_websockets=false
debug_request_timing=true
trading_fee=0.003

[monetary]
evaluation_base_btc=0
evaluation_base_usd=0
