[main]
donated=true
debug=true
continue_on_exception=false
initial_depth_display_height=20
autoexec=vb 5

[mtgox]
auth_key=<mtgox api key>
auth_secret=<mtgox api secret>
debug=true
use_websockets=true
debug_websockets=false
debug_request_timing=true
request_timeout_secs=10

[monetary]
evaluation_base_btc=0
evaluation_base_usd=0
