[main]
donated=false
use_websockets=true
debug_websockets=false
debug=true
debug_request_timing=false

[mtgox]
account_name: change_to_your_mtgox_account_name
account_pass: change_to_your_mtgox_account_pass
trading_fee: 0.0065

[monetary]
evaluation_base=0
evaluation_base_usd=0
